<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sobre</title>
        <link rel="shortcut icon" href="static/assets/logo.webp">
        <link rel="stylesheet" href="static/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- HEADER -->
    <div id="header">
      <div class="container">
      <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="/">
            <img src="static/assets/logo.webp" class="img">
            &nbsp LuckStudy
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Página Inicial</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Matérias</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/ga">Geometria Analítica</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/calculo">Cálculo em uma variável</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/modelagem">Introdução à Modelagem</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/ic">Introdução à Computação</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/fundamentos">Fundamentos da Matemática</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contato">Contato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sobre">Sobre</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- //HEADER -->

        <div class="container mt-4">
            <h1 class="text-center"> Quer colaborar em mais questões nesse site? Vem com a gente!</h1>
            <br>
            <p>Para ajudar a comunidade a crescer, você pode escrever para nós:</p>
            <div id = "e-mail">
                <ul>
                    <li>b46812@fgv.edu.br (Max Jockesi);</li>
                    <li>------------------(Erique Fernandes);</li>
                    <li>------------------(Esther Costa);</li>
                </ul>
              </div>
              <div id = "telefone"> 
                (87) 9 9817 - 3023 (Max);
                (33) 9 8760 - 2138 (Erique);
                (21) 9 9891-5895 (Esther);
              </div>
            <p> Siga-nos nas redes sociais </p>
            <a href = "instagram.com">Instagram: LuckStudy</a>
            <a href = "facebook.com"> Facebook: LuckStudy</a>    
          
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
      <script src="js/main.js"></script>
    </body>
</html>
